.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  border-bottom: 1px solid #2a363b;
  width: 100%;
}

a {
  color:#2a363b;
  margin: 10px;
}
