.button {
  text-decoration: none;
  position: absolute;
  top: 10px;
  right: 5px;
}

.container {
  position: relative;
  border: 1px solid #161b33;
  border-radius: 4px;
  width: 300px;
  height: 400px;
}

.form {
  margin-top:50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label{
    display: flex;
    flex-direction: column;
    gap: 5px; 
}
.input {
   background-color: rgb(166, 156, 172, 0.5);
}
.submitBtn {
    width: 70px;
  border: none;
  border-radius: 4px;
  background-color: rgb(166, 156, 172, 0.5);
  font-size: 15px;
  padding: 5px;
  margin-top: 20px;
}
